$buttonBackground: #16A085;
$buttonColor: white;
$buttonPadding: 5px;
$buttonWidth: 200px;
$buttonHeight: 50px;

  .btn {
    width: 200px;
    height: 50px;
    background: $buttonBackground;
    border-radius: 10px;
    padding: $buttonPadding;
    display: 'inline-block';
    color: $buttonColor;
    text-decoration: none;
    
  } 
  
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  

  /* .btn {
    background-color: palegreen;
    position: relative;
    color: black;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    span {
      transition: all 0.3s;
      transform: scale(1, 1);
    }
  }
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .btn-one::before {
    left: 4px;
    z-index: 1;
    
    opacity: 0;
    background: rgba(182, 173, 173, 0.5);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .btn-one::after {
    transition: all 0.3s;
    border: 1px solid rgba(182, 173, 173, 0.5);
  }
  
  .btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 5;
  }
  

   */